<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hostelworld"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>


    <!-- 配置session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="edu.nju.hostelworld.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hbm2ddl.auto">create</prop>
                <prop key="hibernate.connection.url">jdbc:mysql:///hostelworld</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>edu.nju.hostelworld.model.CustomerEntity</value>
                <value>edu.nju.hostelworld.model.HotelEntity</value>
                <value>edu.nju.hostelworld.model.ManagerEntity</value>
                <value>edu.nju.hostelworld.model.PlanEntity</value>
                <value>edu.nju.hostelworld.model.CardEntity</value>
                <value>edu.nju.hostelworld.model.CheckinEntity</value>
                <value>edu.nju.hostelworld.model.CustomerInfoEntity</value>
                <value>edu.nju.hostelworld.model.HotelInfoEntity</value>
                <value>edu.nju.hostelworld.model.ReservationEntity</value>
            </list>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:edu/nju/hostelworld/model/CustomerEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/ManagerEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/HotelEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/PlanEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/CardEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/CheckinEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/CustomerInfoEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/HotelInfoEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/ReservationEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/CardEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/CustomerEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/HotelEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/ManagerEntity.hbm.xml</value>
                <value>classpath:edu/nju/hostelworld/model/ReservationEntity.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--自动装配-->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 定义扫描根路径为edu.nju.hostelworld，不使用默认的扫描方式 -->
    <context:component-scan base-package="edu.nju.hostelworld" use-default-filters="false">
        <!-- 扫描符合@Service @Repository的类 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>