<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hostelworld"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>


    <!-- 配置session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="edu.nju.hostelworld.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hbm2ddl.auto">create</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>edu.nju.hostelworld.model.CustomerEntity</value>
            </list>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:edu/nju/hostelworld/model/CustomerEntity.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!-- action的配置 -->
    <bean id="loginAction" class="edu.nju.hostelworld.action.LoginAction">
        <property name="loginService" ref="loginService"/>
    </bean>

    <!-- serivce的配置 -->
    <bean id="loginService" class="edu.nju.hostelworld.service.LoginServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <!-- dao的配置 -->
    <bean id="userDao" class="edu.nju.hostelworld.dao.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>